@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100..900&display=swap');

.admin-profile {
    position: fixed;
    top: 20px;
    right: 50px;
    display: flex;
    align-items: center;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 16px;
    color: #333;
}

.admin-profile .profile-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 10px;
}

.content {
    margin-left: 260px;
    padding: 20px;
}

h1 {
    font-family: 'Libre Franklin', sans-serif;
    color: #333;
    border-bottom: 2px solid #000;
    padding-bottom: 10px;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

#search {
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 500px;
}

#searchButton {
    background-color: #fff;
    border: none;
    cursor: pointer;
    padding: 5px;
    margin-left: -35px;
}

.search-icon {
    background-image: url('search-icon.png');
    width: 20px;
    height: 20px;
    display: inline-block;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
}

table, th, td {
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #4FC3F7;
    color: white;
    padding: 10px;
}

td {
    padding: 10px;
}

td img {
    width: 100px;
    height: auto;
}

.pagination-container {
    position: absolute;
    bottom: 10px; 
    right: 10px; 
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.edit-button, .delete-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.edit-button img, .delete-button img {
    width: 24px; 
    height: px;
    object-fit: contain; 
}

.edit-button:hover, .delete-button:hover {
    opacity: 0.8;
}

.pagination {
    display: flex;
    gap: 5px;
}
