@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Franklin', sans-serif;
}
html,body{
    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
    background: url(../../assets/images/back.png);
    background-size: cover;
    background-position: center;
}
::selection{
    background: #00b4d8;
    color: #fff;
}
.wrapper{
    overflow: hidden;
    max-width: 390px;
    height: 100%;
    background: #00274d;
    padding: 30px;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
    margin: 60px auto;
    position: absolute;
    left: 0;
    min-width: 500px;
}
.wrapper .title-text{
    display: flex;
    width: 200%;
}
.wrapper .title{
    width: 50%;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
    color: #fff;
    margin-top: 60px;
}

#sub{
    font-size: 25px;
}

.wrapper .slide-controls{
    position: relative;
    display: flex;
    height: 50px;
    width: 80%;
    overflow: hidden;
    margin: 30px 0 10px 40px;
    justify-content: space-between;
    border: 1px solid lightgrey;
    border-radius: 30px;
}
.slide-controls .slide{
    height: 100%;
    width: 100%;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 48px;
    cursor: pointer;
    z-index: 1;
    transition: all 0.6s ease;
}
.slide-controls label.signup{
    color: #fff;
}
.slide-controls .slider-tab{
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0;
    z-index: 0;
    border-radius: 5px;
    background: #00b4d8;
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
input[type="radio"]{
    display: none;
}
#signup:checked ~ .slider-tab{
    left: 50%;
}
#signup:checked ~ label.signup{
    color: #fff;
    cursor: default;
    user-select: none;
    background: #00b4d8;
    font-weight: 700;
}
#signup:checked ~ label.login{
    color: #00b4d8;
    background: #fff;
    font-weight: 700;
}
#login:checked ~ label.signup{
    color: #00b4d8;
    background: #fff;
    font-weight: 700;
}
#login:checked ~ label.login{
    cursor: default;
    user-select: none;
    color: #fff;
    background: #00b4d8;
    font-weight: 700;
}
.wrapper .form-container{
    width: 100%;
    overflow: hidden;
}
.form-container .form-inner{
    display: flex;
    width: 200%;
}
.form-container .form-inner form{
    width: 50%;
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.form-inner form .field{
    display: flex;
    height: 50px;
    width: 100%;
    margin-top: 20px;
}
.field label {
    width: 50px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 18px;
    border-bottom: 2px solid #fff;
}

.form-inner form .field input{
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 15px;
    /* border: 1px solid rgb(181, 181, 181);
    border-bottom-width: 2px; */
    border-right: 0;
    border-left: 0;
    border-top: 0;
    border-bottom: 2px solid #fff;
    font-size: 17px;
    transition: all 0.3s ease;
    background: transparent;
    color: white;
}
.form-inner form .field input:focus{
    border-color: #00b4d8;
}
.form-inner form .field input::placeholder{
    color: #999;
    transition: all 0.3s ease;
}
form .field input:focus::placeholder{
    color: #ffffffa7;
}
.form-inner form .pass-link{
    margin-top: 10px;
}
.form-inner form .signup-link{
    text-align: center;
    margin-top: 30px;
    color: #fff;
}
.form-inner form .pass-link a,
.form-inner form .signup-link a{
    color: #00b4d8;
    text-decoration: none;
}
.form-inner form .pass-link a:hover,
.form-inner form .signup-link a:hover{
    text-decoration: underline;
}

.form-inner form .google{
    margin-top: 20px;
}

.form-inner form .google a{
    color: #fff;
    text-decoration: none;
}

form .btn .btn-google{
    height: 100%;
    width: 50%;
    position: absolute;
    background: #ffffff;
    border-radius: 50px;
    transition: all 0.4s ease;;
}

#google-login{
    color: #000;
}

form .btn{
    height: 50px;
    width: 100%;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    margin-left: 110px;
}
form .btn .btn-layer{
    height: 100%;
    width: 50%;
    position: absolute;
    background: #00b4d8;
    border-radius: 50px;
    transition: all 0.4s ease;;
}
form .btn:hover .btn-layer{
    left: 0;
}
form .btn input[type="submit"]{
    height: 100%;
    width: 50%;
    z-index: 1;
    position: relative;
    background: none;
    border: none;
    color: #fff;
    padding-left: 0;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.title .error {
    color: red;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.logo{
    width: 600px;
    height: 600px;
    margin-left: 500px;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .logo {
        display: none;
    }
}